# Python
venv/
__pycache__/
*.pyc
.env
dist/
build/
*.spec
*.json
# IDEs
.vscode/
.idea/
*.mp4
setup_zoho_env.py
zoho_api.py

# Data & Output
*.xlsx
*.xls
*.csv
*.pdf
*.txt
# (Except templates if any, but currently none marked as such)
*.zip
# OS
.DS_Store
Thumbs.db
